.searchbar-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

.home-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
}

.characters-hero,
.comics-hero {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin: 0 auto;
}

.characters-hero {
  margin-bottom: 40px;
}

.comics-hero {
  margin-bottom: 80px;
}
.comics-img-container {
  width: 60%;
}
.characters-img-container img,
.comics-img-container img {
  width: 80%;
  border-radius: 5px;
}

.characters-intro-text,
.comics-intro-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
.characters-intro-text h3,
.comics-intro-text h3 {
  font-size: 2rem;
  margin-bottom: 30px;
  text-align: center;
  width: 100%;
}
.characters-intro-text button,
.comics-intro-text button {
  border: 1px solid #161616;
  background: none;
  border-radius: 3px;
  padding: 15px;
  text-align: center;
  cursor: pointer;
  transition: 0.6s;
}
.characters-intro-text button:hover,
.comics-intro-text button:hover {
  background-color: #161616;
  color: #f9f9f9;
}

@media screen and (max-width: 860px) {
  .characters-hero {
    flex-direction: column-reverse;
  }
  .comics-hero {
    flex-direction: column;
  }

  .characters-hero,
  .comics-hero {
    text-align: center;
  }

  .comics-img-container {
    width: 80%;
  }

  .characters-intro-text,
  .comics-intro-text {
    margin-bottom: 40px;
  }
}

@media screen and (max-width: 632px) {
  .characters-img-container,
  .comics-img-container {
    width: 90%;
  }
  .characters-img-container img,
  .comics-img-container img {
    width: 100%;
  }
}
